body {
background-color: #382F2F; 
color: #F5F5DC;
font-family: Verdana, Geneva, Arial, sans-serif;
/* going with the earthy aesthetic with this one*/
}


/* for the banner I used the same gradients as in the tutorials/lectures as i figured it would fit the aesthetic*/
#banner {
background: yellow; 
background: -moz-linear-gradient(45deg, red 0%, yellow 100%); 
background: -webkit-linear-gradient(45deg, red 0%, yellow 100%); 
background: -o-linear-gradient(45deg, red 0%, yellow 100%); 
background: linear-gradient(45deg, red 0%,yellow 100%);
padding:20px
}


nav a{
color: #002244;
font-weight: bold;
}

/* had to align the footer to the bottom left*/
footer{
position:fixed;
bottom: 0;
left: 0;
width: 100%
}